.banner { 
    position: relative;
    height: 56vh; 
    background: no-repeat center/cover;
}
.banner::before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}
.banner-info {
    width: 100%;
    max-width: 1800px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: #fff;
}
.banner-info > h1 { font-size: 70px; font-weight: 800; }
.banner-info > h2 { font-size: 26px; }
.banner-info > .play-btn { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    width: 200px; 
    height: 46px; 
    background-color: #fff; 
    border: none; 
    border-radius: 10px; 
    margin-top: 20px; 
    color: #000;
}

@media screen and (max-width: 480px) {
    .banner-info > h1 { font-size: 30px; font-weight: 800; }
    .banner-info > h2 { font-size: 14px; }
}

